html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #999bcc;
}
h1 {
  color: #3700ff;
}
p {
  color: #ff00ea;
}
lebron.html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #999bcc;
}
h1 {
  color: #3700ff;
}
p {
  color: #ff00ea;
}
